:root {
  --backgroundPrimary: #113946;
  --backgroundSecondary: #BCA37F;
  --btnColor: #113946;
  --btnHover: #151111;
  --btnDisabled: #383a3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--btnHover);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.nav-link,
.not {
  color: var(--backgroundSecondary);
  font-family: fantasy;
  font-size: 20px;
  font-weight: 400;
}

.not {
  color: var(--backgroundSecondary);
  font-family: fantasy;
  font-size: 30px;
  font-weight: 400;
}

.not:hover {
  color: var(--btnDisabled);
}

.search {
  width: 120px;
  border: none;
  outline: none;
  color: var(--backgroundSecondary);
  background-color: #383a3a;
  padding: 5px 10px;
  border-radius: 15px;
}

.search::placeholder {
  color: var(--backgroundSecondary);
}

.hero-box {
  color: var(--backgroundSecondary);
  background-color: var(--btnHover);
  border-radius: 45px;
  margin-left: 50%;
  width: 250px;
  height: 300px;
}
.list-section{
  background-color: var(--backgroundSecondary);
}
.hero-bg{
  background-color: var(--backgroundSecondary);
}
.sites__list{
  padding-block: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.sites__item{
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--backgroundSecondary);
  width: 300px;
  height: 200px;
  padding: 20px;
}